<div class="d-flex flex-column gap-4 m-4 h-100">
    <div class="stepper-container p-3">
        <app-tracking-status-step-bar></app-tracking-status-step-bar>
    </div>
    <div class="tracking-container d-flex gap-4">
        <div class="left d-flex justify-content-center align-items-center p-3">
            <p>No Tracking Map Available</p>
        </div>
        <div class="right p-5">
            <h2>Order Details:</h2>
                <div class="d-flex flex-column gap-3">
                    <div class="d-flex gap-5">
                        <p>Consignment Number:</p>
                        <span>{{shipment?.consignmentId}}</span>
                    </div>
                    <div class="d-flex gap-5">
                        <p>Source Address:</p>
                        <span>{{shipment?.sourceAddress?.addressLine1}}</span>
                    </div>
                    <div class="d-flex gap-5">
                        <p>Destination Address:</p>
                        <span>{{shipment?.destinationAddress?.addressLine1}}</span>
                    </div>
                    <div class="d-flex gap-5">
                        <p>Booking Status:</p>
                        <span>{{shipment?.bookingStatus}}</span>
                    </div>
                    <div class="d-flex gap-5">
                        <p>Tracking Status:</p>
                        <span>{{shipment?.trackingStatus}}</span>
                    </div>
                    <div class="d-flex gap-5">
                        <p>Carrier:</p>
                        <span>{{shipment?.carrier}}</span>
                    </div>
                    <div class="d-flex gap-5">
                        <p>Carrier Profile:</p>
                        <span>{{shipment?.carrierProfile}}</span>
                    </div>
                    <div class="d-flex gap-5">
                        <p>Service Profile:</p>
                        <span>{{shipment?.serviceProfile}}</span>
                    </div>
                </div>
        </div>
    </div>
    <div class="event-container p-3">
        <app-tracking-events [trackingEvents]="shipment?.trackingEvents"></app-tracking-events>
    </div>
</div>