<div class="m-4 p-4 bg-light border rounded">
  <div class="d-flex flex-column gap-4">
    <h2>Shipments</h2>

    <div class="d-flex flex-column gap-2">
      <div class="d-flex align-items-center position-relative w-25">
        <input type="text" placeholder="Search" class="w-100 p-2 search-input">
        <img src="../../../assets/icons/search.svg" class="position-absolute end-0 pe-2" alt="">
      </div>
      <div>
        <table class="table table-borderless">
          <thead class="border-bottom">
            <tr>
              <th scope="col" class="bg-dark text-light fw-normal">Manifested Date</th>
              <th scope="col" class="bg-dark text-light fw-normal">Tracking No.</th>
              <th scope="col" class="bg-dark text-light fw-normal">Tracking Status</th>
              <th scope="col" class="bg-dark text-light fw-normal">Customer Ref</th>
              <th scope="col" class="bg-dark text-light fw-normal">Carrier Profile</th>
              <th scope="col" class="bg-dark text-light fw-normal">Amount</th>
              <th scope="col" class="bg-dark text-light fw-normal">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (item of filteredShipments; track item.id) {
            <tr>
              <td>{{item?.manifestedDate ? (item.manifestedDate | date:'short') : 'Invalid'}}</td>
              <td>{{item?.trackingNumber}}</td>
              <td>{{item?.trackingStatus}}</td>
              <td>{{item?.destinationAddress?.company}}</td>
              <td>{{item?.serviceProfile}}</td>
              <td>{{item?.amount}} {{item?.currency}}</td>
              <td><button type="button" class="btn btn-primary btn-sm"
                  (click)="trackingDetailView(item.id)">Tracking</button></td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>