<div class="container h-100">
  <div class="d-flex flex-column gap-4 justify-content-center align-items-center h-100">
    <div class="mb-2">
      <img src="../assets/logo/bba-logo.svg" class="img-fluid" alt="logo image">
    </div>
    <div class="card">
      <div class="card-body d-flex justify-content-center align-items-center">
        <form [formGroup]="loginForm" (ngSubmit)="submit()" class="w-100 p-4">

          <mat-label>User Name</mat-label>
          <mat-form-field appearance="outline" class="w-100 mb-3">
            <input matInput type="email" formControlName="email" placeholder="Enter your email">
            <mat-hint>We'll never share your email with anyone else.</mat-hint>
            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <mat-error>
              Valid email is required
            </mat-error>
            }
          </mat-form-field>

          <mat-label>Password</mat-label>
          <mat-form-field appearance="outline" class="w-100 mb-3">
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
              placeholder="Enter your password">
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Show/hide password'">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <mat-error>
              Password is required
            </mat-error>
            }
          </mat-form-field>
          <div>
            <mat-checkbox class="mb-3">Remember me</mat-checkbox>
          </div>

          <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>

          @if (loginError) {
          <mat-error>
            Invalid email or password
          </mat-error>
          }

        </form>
      </div>
    </div>
  </div>
</div>