<div class="container h-100">
  <div class="d-flex flex-column gap-4 justify-content-center align-items-center h-100">
    <div class="mb-2">
      <img src="../assets/logo/bba-logo.svg" class="img-fluid" alt="">
    </div>
    <div class="card">
      <div class="card-body d-flex justify-content-center align-items-center">
        <form class="w-100 p-4">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button mat-raised-button color="primary" (click)="submit()">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>