<div>
    <h2>Tracking Events</h2>

    <table class="table table-borderless">
        <thead class="border-bottom">
            <tr>
                <th scope="col" class="bg-dark text-light fw-normal">Manifested Date</th>
                <th scope="col" class="bg-dark text-light fw-normal">Tracking No.</th>
                <th scope="col" class="bg-dark text-light fw-normal">Tracking Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pt-3">
                <td>11/10/2024</td>
                <td>MP0041110892</td>
                <td>In Transit</td>
            </tr>
            <tr>
                <td>11/10/2024</td>
                <td>MP0041110192</td>
                <td>In Transit</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-borderless">
        <thead class="border-bottom">
            <tr>
                <th scope="col" class="bg-dark text-light fw-normal">Manifested Date</th>
                <th scope="col" class="bg-dark text-light fw-normal">Tracking No.</th>
                <th scope="col" class="bg-dark text-light fw-normal">Tracking Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pt-3">
                <td>11/10/2024</td>
                <td>MP0041110892</td>
                <td>In Transit</td>
            </tr>
            <tr>
                <td>11/10/2024</td>
                <td>MP0041110192</td>
                <td>In Transit</td>
            </tr>
        </tbody>
    </table>
</div>