<div>
  <h2>Tracking Events</h2>

  <table class="table table-borderless">
    <thead class="border-bottom">
      <tr>
        <th scope="col" class="bg-dark text-light fw-normal">Date</th>
        <th scope="col" class="bg-dark text-light fw-normal">Location</th>
        <th scope="col" class="bg-dark text-light fw-normal">Status</th>
      </tr>
    </thead>
    <tbody>
      @for (item of trackingEvents; track item) {
      <tr class="pt-3">
        <td>{{item?.timestamp | date:'medium'}}</td>
        <td>{{item?.location}}</td>
        <td>{{item?.status}}</td>
      </tr>
      }
    </tbody>
  </table>
</div>